In [1]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rajesh\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.4 MB 656.4 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.4 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.3/1.4 MB 2.2 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.4 MB 3.0 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 5.4 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [4]:
# Create the data set
dataset=[['Apple','Beer','Rice','Chicken'],
         ['Apple','Beer','Rice'],
         ['Apple','Beer'],
         ['Apple','Pear'],
         ['Milk','Beer','Rice','Chicken'],
         ['Milk','Beer','Rice'],
         ['Milk','Beer'],
         ['Milk','Pear']
        ]

In [5]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['Milk', 'Pear']]

In [6]:
te =TransactionEncoder()
encoded= te.fit_transform(dataset)

In [7]:
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [8]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [9]:
df=pd.DataFrame(encoded, columns=te.columns_)

In [10]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

In [11]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [12]:
# find frequent itemset
freq_item = fpgrowth(df,min_support=0.25, use_colnames=True)

In [13]:
freq_item

    support               itemsets
0     0.750                 (Beer)
1     0.500                 (Rice)
2     0.500                (Apple)
3     0.250              (Chicken)
4     0.250                 (Pear)
5     0.500                 (Milk)
6     0.500           (Rice, Beer)
7     0.375          (Apple, Beer)
8     0.250          (Apple, Rice)
9     0.250    (Apple, Rice, Beer)
10    0.250        (Rice, Chicken)
11    0.250        (Beer, Chicken)
12    0.250  (Rice, Beer, Chicken)
13    0.375           (Milk, Beer)
14    0.250           (Rice, Milk)
15    0.250     (Rice, Milk, Beer)

In [14]:
# Form the rules
rules= association_rules(freq_item, metric='confidence', min_threshold=0.5)

In [15]:
rules

        antecedents      consequents  ...  conviction  zhangs_metric
0            (Rice)           (Beer)  ...         inf       0.500000
1            (Beer)           (Rice)  ...        1.50       1.000000
2           (Apple)           (Beer)  ...        1.00       0.000000
3            (Beer)          (Apple)  ...        1.00       0.000000
4           (Apple)           (Rice)  ...        1.00       0.000000
5            (Rice)          (Apple)  ...        1.00       0.000000
6     (Apple, Rice)           (Beer)  ...         inf       0.333333
7     (Apple, Beer)           (Rice)  ...        1.50       0.400000
8      (Rice, Beer)          (Apple)  ...        1.00       0.000000
9           (Apple)     (Rice, Beer)  ...        1.00       0.000000
10           (Rice)    (Apple, Beer)  ...        1.25       0.500000
11           (Rice)        (Chicken)  ...        1.50       1.000000
12        (Chicken)           (Rice)  ...         inf       0.666667
13        (Chicken)           (Beer)  ...         inf       0.333333
14     (Rice, Beer)        (Chicken)  ...        1.50       1.000000
15  (Rice, Chicken)           (Beer)  ...         inf       0.333333
16  (Beer, Chicken)           (Rice)  ...         inf       0.666667
17           (Rice)  (Beer, Chicken)  ...        1.50       1.000000
18        (Chicken)     (Rice, Beer)  ...         inf       0.666667
19           (Milk)           (Beer)  ...        1.00       0.000000
20           (Beer)           (Milk)  ...        1.00       0.000000
21           (Rice)           (Milk)  ...        1.00       0.000000
22           (Milk)           (Rice)  ...        1.00       0.000000
23     (Rice, Milk)           (Beer)  ...         inf       0.333333
24     (Rice, Beer)           (Milk)  ...        1.00       0.000000
25     (Beer, Milk)           (Rice)  ...        1.50       0.400000
26           (Rice)     (Beer, Milk)  ...        1.25       0.500000
27           (Milk)     (Rice, Beer)  ...        1.00       0.000000

[28 rows x 10 columns]

In [16]:
rules=rules[['antecedents','consequents','support','confidence']]

In [17]:
rules

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
1            (Beer)           (Rice)    0.500    0.666667
2           (Apple)           (Beer)    0.375    0.750000
3            (Beer)          (Apple)    0.375    0.500000
4           (Apple)           (Rice)    0.250    0.500000
5            (Rice)          (Apple)    0.250    0.500000
6     (Apple, Rice)           (Beer)    0.250    1.000000
7     (Apple, Beer)           (Rice)    0.250    0.666667
8      (Rice, Beer)          (Apple)    0.250    0.500000
9           (Apple)     (Rice, Beer)    0.250    0.500000
10           (Rice)    (Apple, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
14     (Rice, Beer)        (Chicken)    0.250    0.500000
15  (Rice, Chicken)           (Beer)    0.250    1.000000
16  (Beer, Chicken)           (Rice)    0.250    1.000000
17           (Rice)  (Beer, Chicken)    0.250    0.500000
18        (Chicken)     (Rice, Beer)    0.250    1.000000
19           (Milk)           (Beer)    0.375    0.750000
20           (Beer)           (Milk)    0.375    0.500000
21           (Rice)           (Milk)    0.250    0.500000
22           (Milk)           (Rice)    0.250    0.500000
23     (Rice, Milk)           (Beer)    0.250    1.000000
24     (Rice, Beer)           (Milk)    0.250    0.500000
25     (Beer, Milk)           (Rice)    0.250    0.666667
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

In [18]:
# Sort the Rules
rules.sort_values(by=['confidence','support'], ascending=False)

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
6     (Apple, Rice)           (Beer)    0.250    1.000000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
15  (Rice, Chicken)           (Beer)    0.250    1.000000
16  (Beer, Chicken)           (Rice)    0.250    1.000000
18        (Chicken)     (Rice, Beer)    0.250    1.000000
23     (Rice, Milk)           (Beer)    0.250    1.000000
2           (Apple)           (Beer)    0.375    0.750000
19           (Milk)           (Beer)    0.375    0.750000
1            (Beer)           (Rice)    0.500    0.666667
7     (Apple, Beer)           (Rice)    0.250    0.666667
25     (Beer, Milk)           (Rice)    0.250    0.666667
3            (Beer)          (Apple)    0.375    0.500000
20           (Beer)           (Milk)    0.375    0.500000
4           (Apple)           (Rice)    0.250    0.500000
5            (Rice)          (Apple)    0.250    0.500000
8      (Rice, Beer)          (Apple)    0.250    0.500000
9           (Apple)     (Rice, Beer)    0.250    0.500000
10           (Rice)    (Apple, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
14     (Rice, Beer)        (Chicken)    0.250    0.500000
17           (Rice)  (Beer, Chicken)    0.250    0.500000
21           (Rice)           (Milk)    0.250    0.500000
22           (Milk)           (Rice)    0.250    0.500000
24     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

In [19]:
# Filter the rules
nrules=rules[rules['confidence']>0.5]

In [20]:
nrules.shape

(13, 4)

In [21]:
nrules

        antecedents   consequents  support  confidence
0            (Rice)        (Beer)    0.500    1.000000
1            (Beer)        (Rice)    0.500    0.666667
2           (Apple)        (Beer)    0.375    0.750000
6     (Apple, Rice)        (Beer)    0.250    1.000000
7     (Apple, Beer)        (Rice)    0.250    0.666667
12        (Chicken)        (Rice)    0.250    1.000000
13        (Chicken)        (Beer)    0.250    1.000000
15  (Rice, Chicken)        (Beer)    0.250    1.000000
16  (Beer, Chicken)        (Rice)    0.250    1.000000
18        (Chicken)  (Rice, Beer)    0.250    1.000000
19           (Milk)        (Beer)    0.375    0.750000
23     (Rice, Milk)        (Beer)    0.250    1.000000
25     (Beer, Milk)        (Rice)    0.250    0.666667

In [22]:
nrules[nrules['antecedents'] == {'Rice'}] ['consequents']

0    (Beer)
Name: consequents, dtype: object

In [23]:
nrules[nrules['antecedents'] == {'Apple', 'Beer'}] ['consequents']

7    (Rice)
Name: consequents, dtype: object

In [37]:
#Export the rules
nrules.to_csv('rules.csv', index=False)